p, li, h1, h2, h3, h4, h5, h6, label, td, th {
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

*:not(ul, ol, li) {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #f4f8fb;
}

div#outer-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 50px;
}

div.disclaimer {
    background-color: lightblue;
    border: 1px solid deepskyblue;
    padding: 16px;
    border-radius: 8px;
}

div.content-box {
    background-color: white;
    padding: 16px;
    margin-top: 16px;
    box-shadow: 0 0 3px 0 lightgray;
}

p:not(:last-child){
    margin-bottom: 1em;
}

li:not(:first-child) {
    margin-top: .5em;
}

p.bold {
    font-weight: bold;
}

p.italic {
    font-style: italic;
}

label {
    display: block;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

p>code, li>code {
    background-color: #f4f8fb;
    padding: 0 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

div>code, form>code {
    display: block;
    background-color: #f4f8fb;
    padding: 0 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
    white-space: pre-wrap;
}

div>code:not(:last-child), form>code:not(:last-child) {
    margin-bottom: 1em;
}

textarea {
    width: 100%;
    resize: vertical;
    height: 10em;
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
}

form.ok textarea {
    background-color: lightgreen;
}

form.warning textarea {
    background-color: lightyellow;
}

form.error textarea {
    background-color: #ffcccb;
}

form button {
    border: none;
    padding: 8px 12px;
    border-radius: 100px;
    background: linear-gradient(135deg, limegreen 0%, green 100%);
    color: white;
    font-weight: bold;
    margin-top: 1em;
}

form button:hover {
    background: linear-gradient(315deg, limegreen 0%, green 100%);
}

form.exit button {
    background: linear-gradient(135deg, #EC7063 0%, #943126 100%);
}

form.exit button:hover {
    background: linear-gradient(315deg, #EC7063 0%, #943126 100%);
}

form label {
    padding: 8px;
}

form label:not(:first-child):has(input[type=checkbox]) {
    border-top: 1px solid lightgrey;
}

form label input[type=checkbox] {
    margin-right: 8px;
}

label:has(input[type=checkbox]):hover {
    background-color: #D4F1F4;
}

label:has(:checked) {
    background-color: lightblue !important;
}

input:not([type]) {
    margin-left: .5em;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    padding: 3px;
}

form.ok input:not([type]) {
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}

code>input:not([type]) {
    width: 5.2em;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

form.ok label:has(:checked) {
    background-color: lightgreen !important;
}

p.status {
    margin-top: 1em;
    display: none;
}

form.ok p.status {
    color: green;
    font-weight: bold;
    display: block;
}

form.warning p.status {
    color: orange;
    display: block;
}

form.error p.status {
    color: crimson;
    display: block;
}

div.solution {
    display: none;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(150deg, #EC7063 0%, #943126 100%) 1 100%;
    border-right: none;
    padding: 10px;
    background-color: #ffcccb;
}

div.solution-wrapper button {
    border: none;
    padding: 8px 12px;
    border-radius: 100px;
    background: linear-gradient(135deg, #EC7063 0%, #943126 100%);
    color: white;
    font-weight: bold;
    margin-top: 1em;
}

div.solution-wrapper button:hover {
    background: linear-gradient(315deg, #EC7063 0%, #943126 100%);
}

div.solution-wrapper div.solution {
    margin-top: 1em;
}

code span {
    font-family: inherit;
}

code span.keyword {
    color: purple;
}

code span.value {
    color: royalblue;
}

code span.def {
    color: blue;
}

code span.string, code span.string span {
    color: peru;
}

code span.comment, code span.comment span {
    color: darkgreen;
}

code.terminal {
    background-color: #2C3539;
    color: white;
    font-weight: normal;
    border: none;
}

table {
    border-collapse: collapse;
}

table td {
    min-width: 5em;
}

table td:first-child {
    text-align: right;
}

table td:not(:first-child) {
    text-align: center;
}

table td:not(:first-child) {
    border: 1px solid lightgray;
}

p#attribution {
    position: fixed;
    right: 8px;
    bottom: .6em;
    color: gray;
    font-size: .6em;
    text-align: right;
}

p#version {
    position: fixed;
    left: 8px;
    bottom: 0;
    color: gray;
    font-size: .6em;
}

@media only screen and (max-width: 900px) {
    div#outer-container {
        width: calc(100vw - 100px);
    }
}