* {
    font-family: 'Open Sans', sans-serif;
}

*:not(ul, ol, li) {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0 1.6em;
}

li {
    margin-top: .5em;
}

html, body {
    background-color: #181818;
}

h1 {
    color: #159acd;
    text-align: center;
}

h2 {
    margin-top: 1em;
}

h2, p, li {
    color: white;
}

div#outer {
    margin: auto;
    padding: 50px;
    max-width: 750px;
}

a {
    color: #159acd;
}

code {
    font-family: 'Source Code Pro', monospace;
}

div.CTA {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

div.CTA a {
    background: linear-gradient(171.8deg, rgb(5, 111, 146) 13.5%, rgb(6, 57, 84) 78.6%);
    text-decoration: none;
    color: white;
    padding: 12.5px;
    border-radius: 5px;
}

div.CTA a:hover {
    background: linear-gradient(-171.8deg, rgb(5, 111, 146) 13.5%, rgb(6, 57, 84) 78.6%);
}